*{
    margin: 0;
    padding: 0;
    
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 20%;
    color: var(--Dark, #3C3030);
    font-family: "Iowan Old Style";
    font-size: 3vw;
    font-style: normal;
    font-weight: 100;
    line-height: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: #E84848;
}
hr{
    width: 100vw;
    padding-bottom: 1vh;
}
svg{
    position: absolute;
    z-index: 1;
    margin-top: -12px;
}
#input{
    width: 100%;
    height: 20%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;

    input{
        position: relative;
        height: 30px;
    }

}
input::placeholder{
    color: var(--Dark, #3C3030);
    font-family: "Iowan Old Style";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.61;
    line-height: 140%; 
    padding: 25px;
}
.go{
    height: 27%;
    width: 3vw;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
    border: 1px #E84848;
    background: #E84848;
}

#main-div{
    width: 98vmax;
    height: 100vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sub-heading{
    width: 70%;
    height: 3%;
    color: var(--Dark-Red, #D02424);
    font-family: "Inria Sans";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.4px;
    text-transform: uppercase;
}
#main-content{
    width: 70%;
    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row{
    width: 100%;
    height: 33%;
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
}

.card{
    width: 28%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pic{
    width: 100%;
}
h3{
    color: var(--Dark, #3C3030);
    font-family: "Inknut Antiqua";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    letter-spacing: -0.72px;
}
p{
    color: var(--Dark, #3c3030de);
    font-family: Inter;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
h4{
    color: var(--Dark, #000000f1);
    font-family: "Inria Sans";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.arrow{
    display: flex;
    gap: 1vw;

    .img{
        border-bottom: 2px solid #d02424c0;
    }
}
footer{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    margin-top: 80px;
}
.small-circle{
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: #E84848;
}
 
@media (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
        
    }
    html,body{
        width: 100vmax;
        height: 100vmax;
    }
    #main{
        width: 100vmax;
        height: 100vmax;
        box-sizing: border-box;
    }
    header{ 
        height: 10%;
    }
    hr{
        padding: 0.2vh;
    }
    svg{
        position: absolute;
        z-index: 1;
        margin-top: -13px;
    }
    #input{
        height: 10%;
        input{
            height: 20px;
        }
    }
    input::placeholder{
        font-size: 16px;
    }
    .go{
        height: 40%;
        width: 6vw;
    }
    #sub-heading{
        width: 100%;
        height: 5%;
        font-size: 100%;
    }
    #main-content{
        width: 100%;
        height: 100%;
    }
    .row{
        width: 100%;
        height: 33%;
        flex-direction: column;
    }
    
}